<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posted Purchase Order Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <nav th:replace="navigation">
    </nav>

    <div class="container-fluid">
        <h2>Posted Purchase Order Card</h2>

        <div class="col-md-12 col-lg-12">
            <form class="needs-validation" novalidate action="#" th:object="${postedPurchaseOrder}"
                method="post">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Code</label>
                        <input readonly type="text" class="form-control" id="code" placeholder="" value=""
                            th:field="*{code}">
                    </div>

                    <div class="col-sm-6">
                        <label for="customer" class="form-label">Vendor</label>
                        <input readonly type="text" class="form-control" id="vendorName" placeholder="" value=""
                            th:field="*{vendorName}">
                    </div>

                    <div class="col-sm-6">
                        <label for="date" class="form-label">Date</label>
                        <input readonly type="text" class="form-control" id="date" placeholder="" value=""
                            th:field="*{date}">
                    </div>

                    <div class="col-sm-6">
                        <label for="paymentMethod" class="form-label">Payment Method</label>
                        <input readonly type="text" class="form-control" id="paymentMethod" placeholder="" value=""
                            th:field="*{paymentMethodName}">
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="container-fluid">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Lines</a>
                            </li>
                        </ul>

                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="postedPurchaseOrderLine : ${postedPurchaseOrderLines}">
                                    <td th:text="${postedPurchaseOrderLine.lineNo}"></td>
                                    <td th:text="${postedPurchaseOrderLine.itemName}"></td>
                                    <td th:text="${postedPurchaseOrderLine.quantity}"></td>
                                    <td th:text="${postedPurchaseOrderLine.price}"></td>
                                    <td th:text="${postedPurchaseOrderLine.amount}"></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav th:replace="subPaging">
                        </nav>

                    </div>

                </div>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>