<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales Credit Memo Wizard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav th:replace="~{navigation}">
    </nav>

    <div class="container-fluid">
        <h2>Sales Order Wizard</h2>

        <div class="col-md-12 col-lg-12">

            <form class="needs-validation" novalidate action="#" th:action="@{/salesCreditMemoWizardSecondPage}"
                th:object="${salesCreditMemoModel}" method="post">
                <div class="row g-3">

                    <div class="col-sm-6">
                        <label for="code" class="form-label">Code</label>
                        <input readonly type="text" class="form-control" id="code" placeholder="" value=""
                            th:field="*{code}">
                    </div>

                    <div class="col-sm-6">
                        <label for="customerName" class="form-label">Customer Name</label>
                        <input readonly type="text" class="form-control" id="customerName" placeholder="" value=""
                            th:field="*{customerName}">
                        <input hidden type="text" class="form-control" id="customerCode" placeholder="" value=""
                            th:field="*{customerCode}">
                    </div>

                    <div class="col-sm-6">
                        <label for="date" class="col-sm-1 col-form-label">Date</label>
                        <div class="col-sm-4">
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" id="date" th:field="*{date}">
                                <span class="input-group-append">
                                    <span class="input-group-text bg-white d-block">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="paymentMethodCode" class="form-label">Payment Method</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{paymentMethodCode}">
                            <option selected value=""></option>
                            <option th:each="paymentMethod : ${paymentMethods}" th:value="${paymentMethod.code}"
                                th:text="${paymentMethod.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Finish</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datepicker').datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>
</body>

</html>