<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales Credit Memo Line Wizard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <nav th:replace="~{navigation}">
    </nav>

    <div class="container-fluid">
        <h2>Sales Credit Memo Line Wizard</h2>

        <div class="col-md-12 col-lg-12">

            <form class="needs-validation" novalidate action="#" th:action="@{/salesCreditMemoLineWizardFirstPage}"
                th:object="${salesCreditMemoLineModel}" method="post">
                <div class="row g-3">

                    <div class="col-sm-6">
                        <label for="salesCreditMemoCode" class="form-label">Sales Credit Memo</label>
                        <input readonly type="text" class="form-control" id="salesDocumentCode" placeholder="" value=""
                            th:field="*{salesDocumentCode}">
                        <input hidden type="text" class="form-control" id="lineNo" placeholder="" value=""
                            th:field="*{lineNo}">
                        <input hidden type="text" class="form-control" id="page" placeholder="" value=""
                            th:field="*{page}">
                    </div>

                    <div class="col-sm-6">
                        <label for="item" class="form-label">Item</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{itemCode}">
                            <option selected value=""></option>
                            <option th:each="item : ${items}" th:value="${item.code}"
                                th:text="${item.name}">
                            </option>
                        </select>
                        <input hidden type="text" class="form-control" id="quantity" placeholder="" value=""
                        th:field="*{quantity}">
                        <input hidden type="text" class="form-control" id="price" placeholder="" value=""
                            th:field="*{price}">
                            <input hidden type="text" class="form-control" id="amount" placeholder="" value=""
                            th:field="*{amount}">

                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>