<nav aria-label="...">
    <ul class="pagination justify-content-center">

      <li th:if="${paging.firstActive}" class="page-item">
        <a class="page-link" th:href="@{/{object}?code={code}&page=1(object=${paging.objectName},code=${paging.code})}">First</a>
      </li>

      <li th:unless="${paging.firstActive}" class="page-item disabled">
        <a class="page-link" th:href="@{/{object}?code={code}&page=1(object=${paging.objectName},code=${paging.code})}">First</a>
      </li>

      <li th:if="${paging.prevActive}" class="page-item">
        <a class="page-link" th:href="@{/{object}?code={code}&page={prevPage}(object=${paging.objectName},code=${paging.code},prevPage=${paging.prevPage})}">Prev</a>
      </li>

      <li th:unless="${paging.prevActive}" class="page-item disabled">
        <a class="page-link" th:href="@{/{object}?code={code}&page={prevPage}(object=${paging.objectName},code=${paging.code},prevPage=${paging.prevPage})}">Prev</a>
      </li>

      <li class="page-item active disabled" aria-current="page">
        <a class="page-link" href="#" th:text="@{{currentPage} of {maxPageCount}(currentPage=${paging.currentPage},maxPageCount=${paging.maxPageCount})}"></a>
      </li>

      <li th:if="${paging.nextActive}" class="page-item">
        <a class="page-link" th:href="@{/{object}?code={code}&page={nextPage}(object=${paging.objectName},code=${paging.code},nextPage=${paging.nextPage})}">Next</a>
      </li>

      <li th:unless="${paging.nextActive}" class="page-item disabled">
        <a class="page-link" th:href="@{/{object}?code={code}&page={nextPage}(object=${paging.objectName},code=${paging.code},nextPage=${paging.nextPage})}">Next</a>
      </li>

      <li th:if="${paging.lastActive}" class="page-item">
        <a class="page-link" th:href="@{/{object}?code={code}&page={lastPage}(object=${paging.objectName},code=${paging.code},lastPage=${paging.lastPage})}">Last</a>
      </li>

      <li th:unless="${paging.lastActive}" class="page-item disabled">
        <a class="page-link" th:href="@{/{object}?code={code}&page={lastPage}(object=${paging.objectName},code=${paging.code},lastPage=${paging.lastPage})}">Last</a>
      </li>
    </ul>
  </nav>
