<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Serie Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <nav th:replace="navigation">
    </nav>

    <div class="container-fluid">
        <h2>Code Serie Card</h2>

        <div class="col-md-12 col-lg-12">
            <form class="needs-validation" novalidate action="#" th:action="@{/codeSerieCard}" th:object="${codeSerie}"
                method="post">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" class="form-control" id="code" placeholder="" value="" th:field="*{code}">
                    </div>

                    <div class="col-sm-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="" value=""
                            th:field="*{name}">
                    </div>

                    <div class="col-sm-6">
                        <label for="firstCode" class="form-label">First Code</label>
                        <input type="text" class="form-control" id="firstCode" placeholder="" value="" th:field="*{firstCode}">
                    </div>

                    <div class="col-sm-6">
                        <label for="lastCode" class="form-label">Last Code</label>
                        <input type="text" class="form-control" id="lastCode" placeholder="" value="" th:field="*{lastCode}">
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</body>

</html>