<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales Order List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <nav th:replace="navigation">
    </nav>

    <div class="container-fluid">
        <h2>Sales Order List <a class="btn btn-primary" href="/salesOrderWizard" role="button">New</a></h2>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="salesOrder : ${salesOrders}">
                        <td th:text="${salesOrder.code}"></td>
                        <td th:text="${salesOrder.customer.name}"></td>
                        <td th:text="${salesOrder.date}"></td>
                        <td th:text="${salesOrder.paymentMethod.name}"></td>
                        <td><a th:href="@{/salesOrderCard?code={code}(code=${salesOrder.code})}">edit</a> <a th:href="@{/deleteSalesOrder?code={code}(code=${salesOrder.code})}">delete</a></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <nav th:replace="paging">
        </nav>
    
    </div>

</body>

</html>