<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <nav th:replace="navigation">
    </nav>

    <div class="container-fluid">
        <h2>Setup Card</h2>

        <div class="col-md-12 col-lg-12">
            <form class="needs-validation" novalidate action="#" th:action="@{/setupCard}" th:object="${setup}"
                method="post">
                <div class="row g-3">

                    <div class="col-sm-6">
                        <label for="salesOrderCodeSerie" class="form-label">Sales Order</label>
                        <select class="form-select" aria-label="Sales Order" th:field="*{salesOrderCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="postedSalesOrderCodeSerie" class="form-label">Posted Sales Order</label>
                        <select class="form-select" aria-label="Posted Sales Order"
                            th:field="*{postedSalesOrderCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="salesCreditMemoCodeSerie" class="form-label">Sales Credit Memo</label>
                        <select class="form-select" aria-label="Sales Credit Memo" th:field="*{salesCreditMemoCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="postedSalesCreditMemoCodeSerie" class="form-label">Posted Sales Credit Memo</label>
                        <select class="form-select" aria-label="Posted Sales Credit Memo" th:field="*{postedSalesCreditMemoCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="purchaseOrderCodeSerie" class="form-label">Purchase Order</label>
                        <select class="form-select" aria-label="Purchase Order" th:field="*{purchaseOrderCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="postedPurchaseOrderCodeSerie" class="form-label">Posted Purchase Order</label>
                        <select class="form-select" aria-label="Posted Purchase Order" th:field="*{postedPurchaseOrderCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="purchaseCreditMemoCodeSerie" class="form-label">Purchase Credit Memo</label>
                        <select class="form-select" aria-label="Purchase Credit Memo" th:field="*{purchaseCreditMemoCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="postedPurchaseCreditMemoCodeSerie" class="form-label">Posted Purchase Credit Memo</label>
                        <select class="form-select" aria-label="Posted Purchase Credit Memo" th:field="*{postedPurchaseCreditMemoCodeSerie}">
                            <option selected value=""></option>
                            <option th:each="codeSerie : ${codeSeries}" th:value="${codeSerie.code}"
                                th:text="${codeSerie.name}">
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

</body>

</html>